 body {
  position: relative;
 }
 
 .App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  border-radius: 20%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .fingerPrint{
  background-image: url(./finger.png);
} */

.Nav-link {
  display: flex;
  width: 56px;
  flex-direction: row-reverse;
  position: fixed;
  right: -5px;
  top: 100px;
  transform: rotate(270deg);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

main {
padding-top: 20px;
  padding-left: 10px;
  padding-right: 62px;
      background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
            background-attachment: fixed;
            
}

.MainAboutMe {
  
    background-image: url("fon.jpg");

    align-items: center;
    justify-content: center;
    color: white;

}

.mainFull {
  /* background-image: url("fullsta.jpg"); */
  color: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgb(39, 68, 51)), url("fullsta.jpg");
}

.mainTS {
  /* background-image: url("fullsta.jpg"); */
  color: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgb(77, 85, 139)), url("teh.jpg");
}

.mainTel {
  /* background-image: url("fullsta.jpg"); */
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 254, 0.1), rgb(144, 152, 206)), url("telecommunication.jpg");
}